.add-todo{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    background-color: aqua;
    padding: 2rem;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.modal-wrapper{
    position: fixed;
    background-color: rgb(20,20,20,0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal-btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
}